<header class="mini" id="header-mini">
    <div class="container-full row vertical-center">
        <h2>BC</h2>
        <div class="mini-content vertical-center" id="header-mini-content">
            <a class="center-all" href="#">Menu</a>
            <a class="center-all" href="#">
                {% render 'icon-search' %}
            </a>
            <a href="/cart" class="cart center-all radius-all">
                {% render 'icon-cart' %}
                {% if cart.item_count > 0 %}
                  <span class="center-all">{{ cart.item_count }}</span>
                {% endif %}
              </a>
        </div>
    </div>
</header>