  <div class="loader padding-6vw dark-bg center-all">
    {% if template.name == "product" %}
        <h2>{{ product.title }}</h2>
    {% elsif template.name == "article" %}
        <h2>{{ article.title }}</h2>
    {% elsif template.name == "collection" %}
        <h2>{{ collection.title }}</h2>
    {% else %}
        <h2>{{ shop.name }}</h2>
    {% endif %}
  </div>
  