<div class="no-product">
    <img src="{{ settings.no_product_image | | img_url: '1024x' }}" alt="">
    <h2>{{ settings.no_product_text }}</h2>
    <a href="/collections/all" class="link-dark">Keep shopping</a>
</div>