<div class="popup radius-all white-bg">
    <div class="disable-popup">
        <span class="radius-all"></span>
        <span class="radius-all"></span>
    </div>
    <h2>Thanks for your comment</h2>
</div>
<div class="popup-dark dark-bg"></div>