
<div class="container-full full-height margin-top-100 white-bg">
  {% for block in section.blocks %}
    <div class="container margin-top-15">
      <h2>{{ block.settings.heading_about }}</h2>
      <p>{{ block.settings.info_about }}</p>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Starter info",
    "blocks": [
          {
            "type": "text",
            "name": "About text",
            "settings": [
                    {
                      "type": "text",
                      "id": "heading_about",
                      "label": "Heading"
                    },
                    {
                      "type": "textarea",
                      "id": "info_about",
                      "label": "Text field"
                    }
              ]
          }
        ]
  }

{% endschema %}