{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Best selling products" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the about us short section
  - Subheading: description of the about us short section
{%- endcomment -%}
<section class="about-short white-bg margin-top-45">
    <div class="container-full white-bg two-per-row-no-margin vertical-center">
        <div class="about-wrap grid-el">
            <div class="text-inner">
                <h2>About</h2>
                <h2>Our</h2>
                <h2>Company</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis accusamus eius excepturi pariatur eos quidem. Quam, eius voluptatibus totam laborum exercitationem sunt, incidunt quos, corporis omnis voluptatum eveniet! Sit, commodi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis accusamus eius excepturi pariatur eos quidem. Quam, eius voluptatibus totam laborum exercitationem sunt, incidunt quos, corporis omnis voluptatum eveniet! Sit, commodi.</p>
                <a href="/pages/about-us" class="link-dark">Read more about us</a>
            </div>
        </div>
        <div class="about-wrap grid-el" style="background-image: url({{ section.settings.about_short_image | img_url: 'master' }});"></div>
      </div>
</section>

{% schema %}
  {
    "name": "About us [short info]",
    "presets": [{
      "name": "About us [short info]",
      "category": "Company"
    }],
    "settings": [
    {
      "type": "image_picker",
      "id": "about_short_image",
      "label": "Image"
    }
    ]
  }
{% endschema %}