
<div class="container-full dark-bg">
  <div class="container row margin_45">
    <div class="about-wrap-page center-all">
      <h2>Everyone has a story to tell, and we’re no different</h2>
    </div>
    <div class="about-wrap-page center-all">
      <div class="about"></div>
    </div>
    <div class="about-wrap-page center-all">
      <div class="about"></div>
    </div>
    <div class="about-wrap-page">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore ratione ad dolorem velit, possimus, repudiandae ipsum consequuntur quod unde reiciendis nam non fugiat doloribus officia dolores, laboriosam nulla totam corporis?</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About",
    "settings": [
      {
        "type": "text",
        "id": "about_heading",
        "label": "Heading",
        "default": "Text here"
      }
    ],
    "name": "items-gallery",
    "blocks": [
          {
            "type": "image",
            "name": "items-entry",
            "settings": [
                    {
                      "type": "image_picker",
                      "id": "image_about",
                      "label": "Image of the product"
                    },
                    {
                      "type": "text",
                      "id": "heading_about",
                      "label": "Text"
                    },
                    {
                      "type": "textarea",
                      "id": "info_about",
                      "label": "Text"
                    }
              ]
          }
    ]
  }

{% endschema %}