
<div class="container-full full-height margin-top-100 white-bg">
  <div class="container margin-top-45 two-per-row">
    {% for block in section.blocks %}
      <div class="about-wrap grid-el">
        <h2>{{ block.settings.heading_about }}</h2>
        <p>{{ block.settings.info_about }}</p>
      </div>
  {% endfor %}
  </div>

</div>
{% schema %}
  {
    "name": "Starter info",
    "blocks": [
          {
            "type": "text",
            "name": "About text",
            "settings": [
                {
                  "type": "text",
                  "id": "heading_about",
                  "label": "Heading"
                },
                {
                  "type": "textarea",
                  "id": "info_about",
                  "label": "Text field"
                }
              ]
          }
        ]
  }

{% endschema %}