<div class="container-full full-height white-bg">
    <div class="container center-all about-action">
        <h2>
            <a href="/pages/contact-us">Contact us</a> / 
            <a href="/collections/all">Keep shopping</a>
        </h2>
    </div>
</div>