{% if section.settings.show_big_image %}
    <div class="container-full dark-bg big-image" style="background-image: url({{ section.settings.big_image | img_url: 'master' }}); background-position:{{ section.settings.bg_pos }};">
      {% else %}
    <div class="container-full dark-bg">

{% endif %}
    <div class="container padding-45px">
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
        {{ collection.description }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Big image block",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_big_image",
      "label": "Show big image block",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "big_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_pos",
      "label": "Image alignment",
      "default": "center",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    }
  ]
}
{% endschema %}