<div class="container-full row homepage-video dark-bg">
  {% assign products = collections.all.products | sort: 'published_at' | reverse %}
  {% for product in products limit:1 %}
    <div class="container center-all">
      <div class="product-new">
        <div class="product-new-img">
          <img src="{{ product.featured_image | img_url: '1024x1024' }}" alt="">
        </div>
        <div class="product-new-info">
          <h1>PRODUCT FOR YOU</h1>
          <h2>{{ product.title }}</h2>
          <a href="{{ product.url }}" class="link-light">Shop now</a>
        </div>
      </div>
    </div>
{% endfor %}
    <video class="header-video" autoplay muted loop id="header-video">
        <source src="https://cdn.shopify.com/s/files/1/0469/8485/5706/files/video.mp4?v=1598960652" type="video/mp4">
    </video>
</div>
