<div class="container-full header-main margin-top-100">
    <div class="container vertical-center row margin-top-45">
        <div class="main-hero vertical-center row">
          <h1 class="big">Humanity runs on coffee</h1>
          <a href="/collections/all/" class="center-all">Start</a>
        </div>
      </div>
</div>
