{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Partners list" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the Partners list section
  - Subheading: description of the Partners list section
{%- endcomment -%}
<section class="partners vertical-center white-bg">
    <div class="container-full full-height white-bg">
      <div class="container row end">
        <h2 class="text-right margin_top_30">We work with brands <br>we believe in</h2>
      </div>
        <div class="container vertical-center">
                <ul class="partner-list row horizontal-center">
                    {% for block in section.blocks %}
                    <li class="center-all radius-all"><img class="partner" src="{{ block.settings.partner_logo | img_url: 'master' }}" alt=""></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </section>
  {% schema %}
    {
      "name": "Partners list",
      "presets": [{
        "name": "Partners list",
        "category": "Company"
      }],
      "blocks": [
      {
        "type": "image_picker",
        "name": "Company logo",
        "settings": [
          {
            "label": "Image",
            "id": "partner_logo",
            "type": "image_picker"
          }
        ]
      }
    ]
    }
  {% endschema %}