{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Partners list" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the Partners list section
  - Subheading: description of the Partners list section
{%- endcomment -%}
<section class="partners height_300 vertical-center white-bg">
    <div class="container-full white-bg">
        <div class="container vertical-center">
                <ul class="partner-list center-all">
                    {% for block in section.blocks %}
                    <li><img class="partner" src="{{ block.settings.partner_logo | img_url: 'master' }}" alt=""></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </section>
  {% schema %}
    {
      "name": "Partners list",
      "presets": [{
        "name": "Partners list",
        "category": "Company"
      }],
      "blocks": [
      {
        "type": "image_picker",
        "name": "Company logo",
        "settings": [
          {
            "label": "Image",
            "id": "partner_logo",
            "type": "image_picker"
          }
        ]
      }
    ]
    }
  {% endschema %}