<div class="container margin_45 vertical-center">
    {% if product.images.size <= 4 %}
        <div class="product-image-photo-wrap one-per-row">
    {% else %}
        {% if settings.img_per_row == 1 %}
            <div class="product-image-photo-wrap one-per-row">
        {% elsif settings.img_per_row == 2 %}
            <div class="product-image-photo-wrap two-per-row">
        {% elsif settings.img_per_row == 3 %}
            <div class="product-image-photo-wrap three-per-row">
        {% elsif settings.img_per_row == 4 %}
            <div class="product-image-photo-wrap four-per-row">
        {% endif %}         
    {% endif %}

        {% for image in product.images %}
            <div class="product-image-photo-block grid-el radius-all" style="background-image: url('{{ image.src | product_img_url: '1440x' }}');">
            </div>
        {% endfor %}
        </div>
</div>
