<div class="container-full height_300 dark-bg">
    <div class="container">
        <h1>{{ 'general.404.title' | t }}</h1>
        <p>The page you requested does not exist. <a href="/" style="color: #f6cb4b;">Click here to continue shopping</a></p>
    </div>
</div>
