<div class="container-full full-height-nav vertical-center">
  <div class="container">
    {% paginate search.results by 10 %}
      <form action="/search" class="search row start vertical-center" method="get" role="search">

        <input type="search"
              class="big"
              name="q"
              id="Search"
              value="{{ search.terms | escape }}"
              placeholder="Search">
        <button type="submit" class="big">
          Go
        </button>
      </form>
    </div>
      {% if search.performed %}
        {% if search.results_count == 0 %}
        <div class="containe margin-top-45">
          <h2>Nothing found</h2>
        </div>
        {% else %}
          <div class="container margin-45">
            <h2>We found something for you</h2>
          </div>
          <div class="container three-per-row">
            {% for product in search.results %}
              {% include 'product-el' %}
            {% endfor %}
          </div>
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endif %}
      {% endif %}

    {% endpaginate %}
</div>