<div class="container-full white-bg margin_bottom_30">
  <div class="container">
    {% paginate search.results by 4 %}
    <h1 class="margin_30">
      {% if search.performed %}
          {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {% else %}
        Search
      {% endif %}
    </h1>
  </div>
  <div class="container row">
    {% if search.performed %}
      {% if search.results_count == 0 %}
        <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
      {% else %}
          {% for product in search.results %}
            {% include 'product-el' %}
          {% endfor %}
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endpaginate %}
  </div>
</div>
